/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.badge{
  border: #dfe2e6 solid 1px;
  border-radius: 27px;
  background-color: whitesmoke;
  width:max-content;
  padding: 0px 7px;
  margin: 10px;
  color: #56575a;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-weight: 50;
  float: left;
}

.error{
  color:rgb(186, 50, 50);
  background-color: rgb(247, 235, 235);
  border: rgb(226, 175, 175) solid 1px;
}
.warning{
  color:rgb(158, 84, 31);
  background-color:rgb(255, 255, 199);
  border: rgb(248, 197, 14) solid 1px;
}
.success{
  color:rgb(20, 124, 20);
  background-color:rgb(210, 255, 222);
  border: rgb(110, 217, 110) solid 1px;
}
.brand{
  color:rgb(75, 75, 185);
  background-color:rgb(222, 230, 254);
  border: rgb(180, 180, 253) solid 1px;
}


.small{
  font-size: 12px; 
}
.medium{
  font-size: 16px;
}
.large{
  font-size: 22px;
}

.container{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 50%;
}